{{ template "header.html" .}}
<h2>Hairdresser App: Manage Appointment - hairdresser list</h2>
<h3><a href="/adminMenu">Back to admin menu</a></h3>
<h3><a href="/hairdresser/edit/0">Create new hairdresser</a></h3>
<div class="container" id="container"
    style="  display: flex; justify-content: center; align-items: center; text-align: center;">

    {{ if .list }}
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .list }}
                    <tr>
                        <th scope="row">{{ .FirstName }}</th>
                        <th>{{ .LastName }}</th>
                        <th><a href="/hairdresser/edit/{{ .ID.Hex }}">Edit</a> | <a
                                href="/hairdresser/delete/{{ .ID.Hex }}">Delete</a></th>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <span style="color: red">
        WARNING:
        If you delete one hairdresser, all appointments created with this hairdresser will be deleted too!
    </span>
    {{ end }}

    {{ if not .list }}
    <div>
        <span>No Data</span>
    </div>
    {{ end }}

</div>
{{ template "footer.html" .}}