{{ template "header.html" .}}
<h2>Hairdresser App: Manage Appointment - list of type</h2>
<h3><a href="/adminMenu">Back to admin menu</a></h3>
<h3><a href="/appointmentType/edit/0">Create new type</a></h3>
<div class="container" id="container"
    style="  display: flex; justify-content: center; align-items: center; text-align: center;">

    {{ if .list }}
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .list }}
                    <tr>
                        <th scope="row">{{ .Name }}</th>
                        <th>{{ .Description }}</th>
                        <th>{{ .Duration }}</th>
                        <th><a href="/appointmentType/edit/{{ .ID.Hex }}">Edit</a> | <a
                                href="/appointmentType/delete/{{ .ID.Hex }}">Delete</a></th>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <span style="color: red">
        WARNING:
        If you delete one type, all appointments created with this type will be deleted too!
    </span>
    {{ end }}

    {{ if not .list }}
    <div>
        <span>No Data</span>
    </div>
    {{ end }}

</div>
{{ template "footer.html" .}}